@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.app {
  @apply relative z-10 flex justify-center items-center flex-col mx-auto sm:px-16 px-6 py-4 bg-black text-white-s;
}

.section {
  @apply pt-4 pb-4 flex md:flex-row flex-col
}

.heading {
  @apply text-xl font-serif font-bold pb-2
}

.paragraph {
  @apply text-xs font-mono pt-2
}

.img-container {
  @apply relative;
}

.overlay-img {
  @apply absolute top-0 left-0;
}

.btn_gold {
  @apply rounded-full border border-gold bg-onyx text-gold py-1.5 px-5 transition-all 
  hover:bg-white-base hover:text-onyx text-center text-sm items-center justify-center
}

.btn_white-s {
  @apply rounded-full border border-black bg-black text-white-s py-1.5 px-5 transition-all 
  hover:bg-white-s hover:text-black hover:border-black text-center text-sm items-center justify-center
}

.gold-gradient-top-left {
  @apply lg:bg-gradient-to-tl bg-gradient-to-r from-gold lg:from-35% to-white-s text-black font-semibold
}

.gold-gradient-bot-left {
  @apply lg:bg-gradient-to-bl bg-gradient-to-r from-gold lg:from-35% to-white-s text-black font-semibold
}

.gold-gradient-top-right {
  @apply lg:bg-gradient-to-tr bg-gradient-to-r from-gold lg:from-35% to-white-s text-black font-semibold
}

.gold-gradient-bot-right {
  @apply lg:bg-gradient-to-br bg-gradient-to-r from-gold lg:from-35% to-white-s text-black font-semibold
}
