@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.app {
  @apply relative z-10 flex justify-center items-center flex-col mx-auto sm:px-16 px-6 py-4 bg-space text-white-s;
}

.section {
  @apply pt-4 pb-4
}

.heading {
  @apply text-xl font-serif font-bold pb-2
}

.paragraph {
  @apply text-xs font-mono pt-2
}

.btn_gold {
  @apply rounded-full border border-gold bg-space text-gold py-1.5 px-5 transition-all 
  hover:bg-white-base hover:text-space text-center text-sm items-center justify-center
}

.btn_white-s {
  @apply rounded-full border border-white-s bg-space text-white-s py-1.5 px-5 transition-all 
  hover:bg-white-s hover:text-space text-center text-sm items-center justify-center
}